@import "../../../styles/root.module.scss";

.usp {
  width: 100%;
  &__stats {
    bottom: 0;
    background: white;
    display: flex;
    gap: 4rem;
    padding: 3rem 4rem;
    color: #fff;
    justify-content: space-evenly;
    width: calc(100% - 8rem);

    strong {
      font-size: 3.2rem;
      display: block;
      color: $color-primary;
    }
    div {
      text-align: center;
    }

    span {
      font-size: 18px;
      opacity: 0.8;
            color: $dark-color-muted;
            font-weight: 600;
            text-align: center;

    }
  }
}